<footer>
  <section class="section-newsletter">
    <div class="container">
      <div>
        <h2 class="section-title">Join our Newsletter</h2>
        <p>Sign up for our newsletter to receive the latest news and updates from Conestoga Coffee Shop.</p>
      </div>
      <form action="#" method="post">
        <label for="email" class="input">
          Email
          <input type="email" id="email" name="email" placeholder="Enter your email address" required class="input">
        </label>
        <button type="submit" class="button-submit">Subscribe</button>
      </form>
    </div>
  </section>

  <section class="section-footer">
    <div class="container">
      <p>Conestoga Coffee Shop &copy; 2023</p>
      <br>
      <div class="social-links">
        <a href="https://facebook.com" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" width="24" height="24">
        </a>
        <a href="https://instagram.com" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" width="24" height="24">
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter" width="24" height="24">
        </a>
      </div>
    </div>
  </section>
</footer>
