  <section class="section-newsletter">
    <div class="container">
      <div>
        <h2 class="section-title">Join our Newsletter</h2>
        <p>Sign up for our newsletter to receive the latest news and updates from Conestoga Coffee Shop.</p>
      </div>
      <form action="#" method="post">
        <label for="email" class="input">
          Email
          <input type="email" id="email" name="email" placeholder="Enter your email address" required class="input">
        </label>
        <button type="submit" class="button-submit">Subscribe</button>
      </form>
    </div>
  </section>
<footer>
  <section class="section-footer">
    <div class="container">
      <div>
        <div class="footer-logo">
          <img src="/img/logo.png" alt="Coffee Shop"/>
        </div>
        <div class="footer-links">
            <a href="#">Home</a>
            <a href="#">Menu</a>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
        </div>
      </div>
      <div class="footer-social">
          <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </section>
  <section class="section-footer">
    <div class="container">
      &copy; 2025
    </div>
  </section>
</footer>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>
