<footer>
  <section class="section-newsletter">
    <div class="container">
      <div>
        <h2 class="section-title">Join our Newsletter</h2>
        <p>Sign up for our newsletter to receive the latest news and updates from Conestoga Coffee Shop.</p>
      </div>
      <form action="#" method="post">
        <label for="email" class="input">
          Email
          <input type="email" id="email" name="email" placeholder="Enter your email address" required class="input">
        </label>
        <button type="submit" class="button-submit">Subscribe</button>
      </form>
    </div>
  </section>
  <section class="section-footer">
    <div class="container">
      Conestoga Coffee Shop &copy; 2023
    </div>
  </section>
</footer>
<script src="/scripts/main.js"></script>
</body>
</html>