.contact-carousel
  position: relative
  &__content
    position: absolute
    z-index: 10
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: white
    width: 100%
  .slick-carousel
    img
      height: 500px
      object-fit: cover