{% include "head.njk" %}
<div class="contact-carousel">
  <div class="contact-carousel__content container">
    <h1>Find us at</h1>
    <div>
      <h3>Location 1</h3>
      <p>Address: 123 Main St, City, Country</p>
    </div>
    <div>
      <h3>Location 2</h3>
      <p>Address: 456 Elm St, City, Country</p>
    </div>
  </div>
  <div class="slick-carousel">
    <img src="/img/about-slider-1.jpg" alt=""/>
    <img src="/img/about-slider-2.jpg" alt=""/>
    <img src="/img/about-slider-3.jpg" alt=""/>
  </div>
</div>
<section class="contact-form">
  <div class="container">
    <h2 class="section-title">Contact Us</h2>
    <p>Have a question? Don't hesitate to reach out to us! Our team is ready to assist you with any inquiries or feedback. We're here to help you make the most of your experience with us.</p>
    <form action="#" method="POST">
      <label for="name" class="input">
        Name:
        <input type="text" id="name" name="name" required>
      </label>
      <label for="email" class="input">
        Email:
        <input type="email" id="email" name="email" required>
      </label>
      <label for="message" class="input">
        Message:
        <textarea id="message" name="message" required></textarea>
      </label>
      <button type="submit" class="button-submit">Submit</button>
    </form>
  </div>
</section>
<section class="contact-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23166.897137708867!2d-80.510976!3d43.463475200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf31d0cec9491%3A0x8bf5f60c306d2207!2sConestoga%20College%20Waterloo%20Campus!5e0!3m2!1ses-419!2sca!4v1743789953505!5m2!1ses-419!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% include "foot.njk" %}