---
drinks:
  - name: "Coffee"
    price: "$2.00"
    url: "/img/coffee.png"
  - name: "Espresso"
    price: "$2.75"
    url: "/img/espresso.png"
  - name: "Cappuccino"
    price: "$3.00"
    url: "/img/cappuccino.png"
  - name: "Latte"
    price: "$3.00"
    url: "/img/latte.png"
  - name: "Fountain Pop"
    price: "$1.75"
    url: "/img/fountain_pop.png"
  - name: "Juice"
    price: "$3.00"
    url: "/img/juice.png"
  
breakfast:
  - name: "Sausage and Egger Breakfast Sandwich"
    price: "$5.00"
    url: "/img/sausage_egger.png"
  - name: "Bacon and Egger Breakfast Sandwich"
    price: "$5.00"
    url: "/img/bacon_egger.png"
  - name: "2 Eggs Over Easy"
    price: "$6.00"
    url: "/img/eggs_over_easy.png"
  - name: "Western Omelette"
    price: "$7.00"
    url: "/img/western_omelette.png"
  - name: "Eggs Benedict"
    price: "$11.00"
    url: "/img/eggs_benedict.png"
  - name: "Veggie Bowl"
    price: "$11.00"
    url: "/img/veggie_bowl.png"

lunch:
  - name: "BLT with Fries"
    price: "$5.00"
    url: "/img/blt_with_fries.png"
  - name: "Turkey Bacon Clubhouse"
    price: "$5.00"
    url: "/img/turkey_bacon_clubhouse.png"
  - name: "Chicken Pesto Grilled Panini"
    price: "$5.00"
    url: "/img/chicken_pesto_panini.png"
  - name: "Steak Sandwich"
    price: "$7.00"
    url: "/img/steak_sandwich.png"
---

{% include "head.njk" %}
<div class="menu-header">
  <h1>Menu</h1>
</div>
<div class="menu-content">
<div class="container container--menu">
  <h2 class="menu-title">Drinks</h2>
  <ul class="menu-grid">
    {% for item in drinks %}
      <li class="menu-grid__item">
        <img class="menu-grid__image" src="{{item.url}}" alt="{{ item.name }}">
        <div class="menu-grid__product">
          <h3>{{ item.name }}</h3>
          <p class="menu-grid__price">{{ item.price }}</p>
        </div>
        <button class="menu-grid__add-cart">Add to Cart &plus;</button>
      </li>
    {% endfor %}
  </ul>
  <h2 class="menu-title">Breakfast</h2>
  <ul class="menu-grid">
    {% for item in breakfast %}
      <li class="menu-grid__item">
        <img class="menu-grid__image" src="{{item.url}}" alt="{{ item.name }}">
        <div class="menu-grid__product">
          <h3>{{ item.name }}</h3>
          <p class="menu-grid__price">{{ item.price }}</p>
        </div>
        <button class="menu-grid__add-cart">Add to Cart &plus;</button>
      </li>
    {% endfor %}
  </ul>
  <h2 class="menu-title">Lunch</h2>
  <ul class="menu-grid">
    {% for item in lunch %}
      <li class="menu-grid__item">
        <img class="menu-grid__image" src="{{item.url}}" alt="{{ item.name }}">
        <div class="menu-grid__product">
          <h3>{{ item.name }}</h3>
          <p class="menu-grid__price">{{ item.price }}</p>
        </div>
        <button class="menu-grid__add-cart">Add to Cart &plus;</button>
      </li>
    {% endfor %}
  </ul>
</div>
</div>
{% include "foot.njk" %}